<mat-card><form [formGroup] = "addStudentForm" (ngSubmit)="addStudent(addStudentForm.value)">
  <mat-form-field>
    <mat-label>Name</mat-label> <input matInput type="text" formControlName="name" minlength="1" required>
  </mat-form-field>
  <mat-form-field>
  <mat-label>Surname</mat-label> <input matInput type="text" formControlName="surname" minlength="1" required>
</mat-form-field>
<!-- <input matInput [matDatepicker]="picker" formControlName="birthDate" required>
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker> -->
<mat-form-field class="mat-form-field-flex ng-tns-c148-11">
  <mat-label>Datebirht</mat-label> <input matInput type="date" formControlName="birthDate" required>
</mat-form-field>
  <button type="submit" class="button" mat-raised-button color="primary" [disabled]="addStudentForm.invalid"> Add student</button>
</form>
</mat-card>

<mat-card>
  <mat-card-title>Student list</mat-card-title>
<mat-list >
 <mat-list-item *ngFor="let student of students; let i = index;">
 {{i+1}}. {{student.name}} {{student.surname}} {{student.birthDate | date}}
 <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="deleteStudent(student.studentId)">
  <mat-icon>delete</mat-icon>
</button>
 </mat-list-item>
</mat-list>
</mat-card>
