<mat-card>
  <mat-card-title>Student course list</mat-card-title>
<mat-list >
 <mat-list-item *ngFor="let course of courses | IsSubscribeOnCourse : true | paginate:  { itemsPerPage: iPage, count: count, currentPage: curPage }">
  <a [routerLink]="['/course', course.id]"> {{course.name}}</a>
  <button mat-stroked-button color="warn" class="unsub-button" (click)="deleteStudentCourses(course)">Unsubscribe</button>
 </mat-list-item>
</mat-list>
<pagination-controls  responsive="true"
previousLabel="Previous"
nextLabel="Next"
(pageChange)="onDataChange($event)"></pagination-controls>
</mat-card>

<mat-card>
  <mat-card-title>Student available course list</mat-card-title>
<mat-list>
 <mat-list-item *ngFor="let course of courses | IsSubscribeOnCourse : false">
  {{course.name}}
  <button mat-stroked-button color="primary" class="unsub-button" (click)="addStudentCourse(course)" > Subscribe</button>
 </mat-list-item>
</mat-list>
</mat-card>
