<mat-card>
  <form [formGroup] = "addCourseForm" (ngSubmit)="addCourse()">
  <mat-form-field>
    <mat-label>Name</mat-label> <input matInput type="text" formControlName="name" minlength="1" required>
  </mat-form-field>
  <mat-form-field>
  <mat-label>Description</mat-label> <textarea matInput type="text" formControlName="description" minlength="1" required></textarea>
</mat-form-field>
  <button type="submit" class="button" mat-raised-button color="primary" [disabled]="addCourseForm.invalid"> Add Course</button>
</form>
</mat-card>

<mat-card>
  <mat-card-title>Course list</mat-card-title>
<mat-list >
 <mat-list-item *ngFor="let course of courses;" >
  <a [routerLink]="['/course', course.id]">{{course.name}} {{course.description}}</a>
 <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="deleteCourse(course.id)">
  <mat-icon>delete</mat-icon>
</button>
 </mat-list-item>
</mat-list>
</mat-card>
