<mat-card *ngIf="!isIdReceived">
<mat-card-content>
  <h2> Check yourself in system</h2>
  <form [formGroup]="checkStudForm" (ngSubmit)="getStudentById()">
    <mat-error *ngIf="checkError!=''">
      {{checkError}}
    </mat-error>
    <mat-form-field class="full-width-input">
    <input matInput formControlName="name"
           type="text"
           required
           placeholder="name">
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input matInput formControlName="surname"
             type="text"
             required
             placeholder="surname">
      </mat-form-field>
      <button mat-raised-button color="primary"> Check student</button>

  </form>
</mat-card-content>
</mat-card>
<mat-card *ngIf="isIdReceived">
  <mat-card-content>
    <h2> Registration</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <mat-error *ngIf="reigisterError!=''">
        {{reigisterError}}
      </mat-error>
      <mat-form-field class="full-width-input">
      <input matInput formControlName="login"
             type="text"
             required
             placeholder="name">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput formControlName="password"
               type="password"
               required
               placeholder="password">
        </mat-form-field>
        <button mat-raised-button color="primary"> Register </button>

    </form>
  </mat-card-content>
  </mat-card>
